@import 'vendor/font-awesome/font-awesome';
@import 'vendor/normalize';

// Varialbe and Mixins
@import 'global/variable';
@import 'global/grid-generator';
@import 'global/mixin';

// Base Style 
@import 'global/default';
@import 'global/helper';

// Third party
@import 'vendor/jquery.fullPage';
@import 'vendor/animate';

// Site</div>
@import 'section/header';
@import 'components/section-wtf';
@import 'components/section-about';
@import 'components/section-registry';
@import 'components/section-rsvp';
@import 'components/section-festivities';

// Layout
.container {
	width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

// fullPagejs Sections
.section {

	.container {
		// padding-top: $header-height;
	}

	p {
		font-family: 'Khand', sans-serif;
		font-size: 26px;
		line-height: 1.25em;
	}
}

.fp-scrollable {

}

#section0 {
	background: $black;
}
