@import 'vendor/normalize';

// Varialbe and Mixins
@import 'global/variable';
@import 'global/mixin';

// Base Style 
@import 'global/default';
@import 'global/helper';

// Third party
@import 'vendor/jquery.fullPage';
@import 'vendor/animate';

// Site</div>
@import 'section/header';
@import 'components/section-about';

// Layout
.container {
	width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

// fullPagejs Sections
.section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;

	.container {
		padding-top: $header-height;
	}

	p {
		font-family: 'Khand', sans-serif;
		font-size: 26px;
		line-height: 1.25em;
	}
}

#section0 {
	background: $black;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
	}
}

// About use
#section1 {
	background: $white;
}

#section2 {
	background: $white;
}

#section3 {
	background: $white;
}

#section4 {
	background: $white;
}

#section5 {
	background: $white;
}