.info-home {
	width: 895px;
	margin: 10% 0 0 0;
	padding: 50px 50px 50px $side-gap;
	background-color: rgba(0,0,0,.6);
	font-size: 17px;
	color: #fff;

	&-title {
		margin-bottom: 40px;
		font-size: 38px;
		font-weight: bold;
		color: #fff;
		letter-spacing: -2px;
	}

	&-title span {
		font-size: 48px;
		color: #faca22;
	}

	p {
		font-weight: normal;
	}
}