.info-projects {

	&-title {
		
	}

	p {
		
	}
}


// Accordion
.accordion {
	list-style-type: none;
	padding: 0;
	margin: 0;

	&-item {
		margin-top: -1px;
	}

	&-title {
		position: relative;
		margin: 0;
		padding: 22px $side-gap 18px;
		border-top: 1px solid $sitewide-border-color;
		border-bottom: 1px solid $sitewide-border-color;
		cursor: pointer;

		a {
			display: block;
			padding: 0 70px;
			color: $default-font-color;
			font-size: 24px;
			font-family: $font-open-sans;
			font-weight: bold;
		}

		a:before {
			position: absolute;
			top: 33px;
			right: $side-gap;
			display: block;
			content: "";
			width: 24px;
			height: 16px;
			background: url(../images/sprite.png) no-repeat;
			text-indent: -9999px;
		}

		&.accordion-active {
			background-color: #eaf5fa;
		}

		&.accordion-active a {
			color: $default-heading-color;
		}

		&.accordion-active a:before {
			background-position: -40px 0;
		}

		span {
			position: absolute;
			top: 18px;
			left: $side-gap;
			font: 36px $font-open-sans;
			color: #0a93c8;
		}

		small {
			display: block;
			color: $default-heading-color;
			font-size: 15px;
			font-family: $default-font-family;
			font-style: italic;
			font-weight: normal;
		}
	}

	&-content {
		padding: 50px $side-gap 40px;
	}
}


// Project Details
.project-detail {
	padding-left: 70px;

	&-benefit {
		margin-right: 150px;
		margin-bottom: 30px;

		ul {
			list-style-type: none;
		}

		li {
			@include box-sizing();
			position: relative;
			float: left;
			width: 50%;
    		margin-bottom: 15px;
			padding-left: 30px;
			line-height: normal;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				content: "";
				width: 20px;
				height: 18px;
				padding-right: 25px;
				background: url(../images/sprite.png) no-repeat 0 -20px;
			}
		}
	}

	&-milestone {
		width: 100%;
		margin: 30px 0;
	}

	&-object {
		float: right;
		width: 150px;
		text-align: center;
		line-height: normal;

		strong {
			margin-top: 8px;
			display: block;
			color: $default-heading-color;
		}

		small {
			// font-size: 13px;
		}
	}


}