// Style 1
.logo {
    @include transition(all .8s);
	position: relative;
    width: 100%;
    margin: 10% 0 10%;
    text-align: center;

    a,
    span {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 461px;
        max-width: 80%;
        height: 288px;
        margin: 20px auto;
        text-indent: -9999px;
    }
    
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .logo-text {
        display: none;
    }

    @include media("portrait") {
        margin: 25% 0 25%;
    }

    @include media("landscape") {
        margin: 5% 0 5%;

        a,
        span {
            // max-width: 230px;
        }
    }

    @include media(">=tablet", "portrait") {
        margin-top: 18%;

        a,
        span {
            max-width: 50%;
        }
    }

    @include media(">=tablet", "landscape") {
        margin-top: 8%;

        a,
        span {
            max-width: 50%;
        }
    }
}

// Style 3
.sticky .logo {
    float: left;
    width: auto;
    margin: 17px 0 0 $side-gap;
    text-align: left;

    a,
    span {
        // width: 310px;
        // height: 70px;
        max-width: 50%;
        margin: 0;
    }

    .logo-sakura {
        display: none;
    }

    .logo-text {
        display: inherit;
    }
}