// Style 1
.nav {
	@include transition(all .8s);
	@include box-shadow(0 0 2px rgba(0,0,0,0.1));
	width: 100%;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	text-align: center;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		display: inline;
	}

	a {
		display: inline-block;
		height: 55px;
		line-height: 55px;
		margin: 0 30px;
		color: #515759;
		font-size: 16px;
		font-weight: bold;
		font-family: "Open Sans" Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
	}

	.active a {
		color: #ec1a25;
	}
}

// Style 2
// .nav {
// 	float: right;
// 	margin: 20px 20px 0 0;
// 	text-align: center;

// 	ul {
// 		list-style-type: none;
// 		margin: 0;
// 		padding: 0;
// 		text-align: center;
// 	}

// 	li {
// 		display: inline;
// 	}

// 	a {
// 		display: inline-block;
// 		height: 55px;
// 		line-height: 55px;
// 		margin: 0 30px;
// 		color: #515759;
// 		font-size: 16px;
// 		font-weight: bold;
// 		font-family: "Open Sans" Arial, Helvetica, sans-serif;
// 		text-transform: uppercase;
// 		text-decoration: none;
// 	}

// 	.active a {
// 		color: #ec1a25;
// 	}
// }


// Style 3
.sticky .nav {
	float: right;
	width: auto;
	margin: 20px $side-gap 0 0;

	@include box-shadow(none);
	border-top: none;
	border-bottom: none;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		display: inline;
	}
}