.section-registry {
    position: relative;
    background-color: rgba(0,0,0,0.8);
    color: white;

    h2, .h2 {
        color: rgba(248, 121, 155, 1);
    }

    .gold {
        color: #d3af4e;
    }
    
    @include media(">=desktop") {


        .object {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 56%;
            height: auto;
        }

        .text-content {
            margin-left: 65%;
        }

        .text-content p {
            line-height: 2em;
        }

    }

    @include media("<=tablet") {
        text-align: center;
        h2 {
            padding-top: 10px;
        }
    }

    @include media("<tablet") {
        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 20px;
        }
    }
}