.section-registry {
    position: relative;

    .object {
        
    }

    .text-content {

    }

    @include media(">=desktop") {


        .object {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 56%;
            height: auto;
        }

        .text-content {
            margin-left: 65%;
        }

        .text-content p {
            line-height: 2em;
        }

    }

    @include media("<=tablet") {
        text-align: center;
        h2 {
            padding-top: 10px;
        }
    }

    @include media("<tablet") {
        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 20px;
        }
    }
}