.section-festivities {
    @extend %clearfix;
    position: relative;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    color: white;

    p {
        position: relative;
        z-index: 100;
    }

    .gold {
        color: #d3af4e;
    }

    .church {
        margin-top: 20px;
        position: relative;
    }

    .clearfix.center {
        text-align: center;
        padding-top: 20px;
    }

    .lourdes {
        border-radius: 50%;
        width: 258px;
        height: 258px;
        z-index: 200;
    }

    .cdc {
        width: 420px;
        height: 420px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        z-index: -3;
    }

    .reception {
        margin-top: 20px;
    }

    h2, .h2 {
        color: rgba(248, 121, 155, 1);
    }

    h3 {
        position: relative;
        z-index: 100;
    }

    @include media(">=tablet") {
        .church {
            float: left;
            width: 30%;
            margin-right: 5%;
        }

        .reception {
            float: right;
            width: 65%;
        }
        .hidden-mobile {
            display: none;
        }

        .mobile-only {
            display: none;
        }

    }

    @include media("<tablet") {
        text-align: center;
        .hidden-mobile {
            display: none;
        }

        .reception {
            margin-top: 0px;
        }
        
        .mobile-only {
            display: block;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 20px;
        }
    }
}