.section-about {
    position: relative;
    overflow: hidden;
	
    .about-img-left,
    .about-img-right {
        width: 45%;
        max-width: 323px;

        @include media("<desktop") {
            border-radius: 50%;
        }
    }

    .about-img-left {
        float: left;
    }

    .about-img-right {
        float: right
    }

    @include media(">=desktop") {
        .container {
            width: 100%;
        }

        .relative {
            padding-left: 350px;
            padding-right: 350px;
        }

        .about-img-left,
        .about-img-right {
            position: absolute;
            bottom: 0;
            z-index: 2;
            float: none;
            width: 25%;
            max-width: none;
            height: auto;
            border-radius: 0;
        }

        .about-img-left {
            left: -50px;
        }

        .about-img-right {
            right: -570px;
        }
    }
}
